{
  --text-color: hsl(53, 88%, 50%);
    --text-color-hsl: 53, 88%, 50%;
    --text-color-h: 53;
    --text-color-s: 88;
    --text-color-l: 50;
    --text-color-a: 1.0;
    --link-color: hsl(214, 99%, 48%);
    --link-color-hsl: 214, 99%, 48%;
    --link-color-h: 214;
    --link-color-s: 99;
    --link-color-l: 48;
    --link-color-a: 1.0;
    --feature-title-color: hsl(53, 88%, 50%);
    --feature-title-color-hsl: 53, 88%, 50%;
    --feature-title-color-h: 53;
    --feature-title-color-s: 88;
    --feature-title-color-l: 50;
    --feature-title-color-a: 1.0;
    --nav-link-color: hsl(24, 100%, 49%);
    --nav-link-color-hsl: 24, 100%, 49%;
    --nav-link-color-h: 24;
    --nav-link-color-s: 100;
    --nav-link-color-l: 49;
    --nav-link-color-a: 1.0;
    --nav-link-rollover-color: hsl(274, 100%, 44%);
    --nav-link-rollover-color-hsl: 274, 100%, 44%;
    --nav-link-rollover-color-h: 274;
    --nav-link-rollover-color-s: 100;
    --nav-link-rollover-color-l: 44;
    --nav-link-rollover-color-a: 1.0;
    --sub-menu-background-color: hsl(53, 88%, 50%);
    --sub-menu-background-color-hsl: 53, 88%, 50%;
    --sub-menu-background-color-h: 53;
    --sub-menu-background-color-s: 88;
    --sub-menu-background-color-l: 50;
    --sub-menu-background-color-a: 1.0;
    --sub-menu-link-color: hsl(209, 100%, 82%);
    --sub-menu-link-color-hsl: 209, 100%, 82%;
    --sub-menu-link-color-h: 209;
    --sub-menu-link-color-s: 100;
    --sub-menu-link-color-l: 82;
    --sub-menu-link-color-a: 1.0;
    --page-title-color: hsl(34, 100%, 47%);
    --page-title-color-hsl: 34, 100%, 47%;
    --page-title-color-h: 34;
    --page-title-color-s: 100;
    --page-title-color-l: 47;
    --page-title-color-a: 1.0;
    --swmp-use-custom-colors-boolean: true;
    --swmp-background-color: hsl(274, 97%, 24%);
    --swmp-background-color-hsl: 274, 97%, 24%;
    --swmp-background-color-h: 274;
    --swmp-background-color-s: 97;
    --swmp-background-color-l: 24;
    --swmp-background-color-a: 1.0;
    --swmp-text-color-enum: white;
    --page-title-type-enum: text;
    --page-title-string: "Rolling Blackout";
    --page-title-logo-size-number: 10%;
    --page-title-logo-size-number-unitless: 10;
    --site-wide-my-sites-align-enum: center;
    --site-wide-my-sites-size-number: 1rem;
    --site-wide-my-sites-size-number-unitless: 1;
    --site-wide-my-sites-rgba: hsl(48, 28%, 62%);
    --site-wide-my-sites-color: hsl(48, 28%, 62%);
    --site-wide-my-sites-rgba-hsl: 48, 28%, 62%;
    --site-wide-my-sites-rgba-h: 48;
    --site-wide-my-sites-rgba-s: 28;
    --site-wide-my-sites-rgba-l: 62;
    --site-wide-my-sites-rgba-a: 1.0;
    --site-wide-my-sites-hover-rgba: hsl(48, 28%, 62%);
    --site-wide-my-sites-hover-color: hsl(48, 28%, 62%);
    --site-wide-my-sites-hover-rgba-hsl: 48, 28%, 62%;
    --site-wide-my-sites-hover-rgba-h: 48;
    --site-wide-my-sites-hover-rgba-s: 28;
    --site-wide-my-sites-hover-rgba-l: 62;
    --site-wide-my-sites-hover-rgba-a: 1.0;
    --nav-background-rgba: hsla(247, 96%, 19%, 0.17);
    --nav-background-color: hsla(247, 96%, 19%, 0.17);
    --nav-background-rgba-hsl: 247, 96%, 19%;
    --nav-background-rgba-h: 247;
    --nav-background-rgba-s: 96;
    --nav-background-rgba-l: 19;
    --nav-background-rgba-a: 0.17;
    --page-background-color: hsl(0, 0%, 0%);
    --page-background-color-hsl: 0, 0%, 0%;
    --page-background-color-h: 0;
    --page-background-color-s: 0;
    --page-background-color-l: 0;
    --page-background-color-a: 1.0;
    --mobile-nav-link-color: hsl(44, 100%, 47%);
    --mobile-nav-link-color-hsl: 44, 100%, 47%;
    --mobile-nav-link-color-h: 44;
    --mobile-nav-link-color-s: 100;
    --mobile-nav-link-color-l: 47;
    --mobile-nav-link-color-a: 1.0;
    --mobile-nav-background-color: hsl(209, 74%, 18%);
    --mobile-nav-background-color-hsl: 209, 74%, 18%;
    --mobile-nav-background-color-h: 209;
    --mobile-nav-background-color-s: 74;
    --mobile-nav-background-color-l: 18;
    --mobile-nav-background-color-a: 1.0;
    --cta-header-heading-rgba: hsla(187, 99%, 50%, 0.79);
    --cta-header-heading-color: hsla(187, 99%, 50%, 0.79);
    --cta-header-heading-rgba-hsl: 187, 99%, 50%;
    --cta-header-heading-rgba-h: 187;
    --cta-header-heading-rgba-s: 99;
    --cta-header-heading-rgba-l: 50;
    --cta-header-heading-rgba-a: 0.79;
    --cta-header-subheading-rgba: hsl(46, 100%, 32%);
    --cta-header-subheading-color: hsl(46, 100%, 32%);
    --cta-header-subheading-rgba-hsl: 46, 100%, 32%;
    --cta-header-subheading-rgba-h: 46;
    --cta-header-subheading-rgba-s: 100;
    --cta-header-subheading-rgba-l: 32;
    --cta-header-subheading-rgba-a: 1.0;
    --cta-header-button-rgba: hsl(279, 95%, 51%);
    --cta-header-button-color: hsl(279, 95%, 51%);
    --cta-header-button-rgba-hsl: 279, 95%, 51%;
    --cta-header-button-rgba-h: 279;
    --cta-header-button-rgba-s: 95;
    --cta-header-button-rgba-l: 51;
    --cta-header-button-rgba-a: 1.0;
    --cta-header-button-hover-rgba: hsl(335, 100%, 28%);
    --cta-header-button-hover-color: hsl(335, 100%, 28%);
    --cta-header-button-hover-rgba-hsl: 335, 100%, 28%;
    --cta-header-button-hover-rgba-h: 335;
    --cta-header-button-hover-rgba-s: 100;
    --cta-header-button-hover-rgba-l: 28;
    --cta-header-button-hover-rgba-a: 1.0;
    --cta-header-align-enum: left;
    --cta-header-position-enum: bottom;
    --button-color: hsl(246, 96%, 42%);
    --button-color-hsl: 246, 96%, 42%;
    --button-color-h: 246;
    --button-color-s: 96;
    --button-color-l: 42;
    --button-color-a: 1.0;
    --button-hover-color: hsl(248, 35%, 21%);
    --button-hover-color-hsl: 248, 35%, 21%;
    --button-hover-color-h: 248;
    --button-hover-color-s: 35;
    --button-hover-color-l: 21;
    --button-hover-color-a: 1.0;
    --button-shape-enum: pill;
    --button-style-enum: solid;
    --header-height-number: 71%;
    --header-height-number-unitless: 71;
    --header-height-inner-pages-number: 60%;
    --header-height-inner-pages-number-unitless: 60;
    --show-scroll-to-content-boolean: true;
    --cta-header-border-rgba: hsl(288, 93%, 24%);
    --cta-header-border-color: hsl(288, 93%, 24%);
    --cta-header-border-rgba-hsl: 288, 93%, 24%;
    --cta-header-border-rgba-h: 288;
    --cta-header-border-rgba-s: 93;
    --cta-header-border-rgba-l: 24;
    --cta-header-border-rgba-a: 1.0;
    --cta-header-border-width-number: 0px;
    --cta-header-border-width-number-unitless: 0;
    --cta-header-background-rgba: hsla(0, 0%, 100%, 0.0);
    --cta-header-background-color: hsla(0, 0%, 100%, 0.0);
    --cta-header-background-rgba-hsl: 0, 0%, 100%;
    --cta-header-background-rgba-h: 0;
    --cta-header-background-rgba-s: 0;
    --cta-header-background-rgba-l: 100;
    --cta-header-background-rgba-a: 0.0;
    --heading-color: hsl(0, 89%, 43%);
    --heading-color-hsl: 0, 89%, 43%;
    --heading-color-h: 0;
    --heading-color-s: 89;
    --heading-color-l: 43;
    --heading-color-a: 1.0;
    --page-title-typeface-style: "regular";
    --page-title-typeface-style-stylesheet: "//assets-production.bndzgl.com/assets/fonts/4016606077/47184/AgincourtStd/stylesheet.css#AgincourtStd-regular";
    --page-title-typeface-style-stack: 'AgincourtStd';
    --page-title-typeface-style-font-weight: 400;
    --page-title-typeface-style-font-style: normal;
    --page-title-typeface-size-number: 250px;
    --page-title-typeface-size-number-unitless: 250;
    --page-title-uppercase-boolean: false;
    --heading-typeface-style: "regular";
    --heading-typeface-style-stylesheet: "//assets-production.bndzgl.com/assets/fonts/4016606077/47184/AgincourtStd/stylesheet.css#AgincourtStd-regular";
    --heading-typeface-style-stack: 'AgincourtStd';
    --heading-typeface-style-font-weight: 400;
    --heading-typeface-style-font-style: normal;
    --heading-typeface-size-number: 42px;
    --heading-typeface-size-number-unitless: 42;
    --heading-uppercase-boolean: false;
    --content-typeface-style: "regular";
    --content-typeface-style-stylesheet: "//assets-production.bndzgl.com/assets/fonts/3908719544/44501/EagleLake-Regular/stylesheet.css#EagleLake-Regular-regular";
    --content-typeface-style-stack: 'EagleLake-Regular';
    --content-typeface-style-font-weight: 400;
    --content-typeface-style-font-style: normal;
    --content-typeface-size-number: 14px;
    --content-typeface-size-number-unitless: 14;
    --content-uppercase-boolean: false;
    --feature-title-typeface-style: "regular";
    --feature-title-typeface-style-stylesheet: "//assets-production.bndzgl.com/assets/fonts/4016606077/47184/AgincourtStd/stylesheet.css#AgincourtStd-regular";
    --feature-title-typeface-style-stack: 'AgincourtStd';
    --feature-title-typeface-style-font-weight: 400;
    --feature-title-typeface-style-font-style: normal;
    --feature-title-typeface-size-number: 58px;
    --feature-title-typeface-size-number-unitless: 58;
    --feature-title-uppercase-boolean: false;
    --menu-item-typeface-style: "regular";
    --menu-item-typeface-style-stylesheet: "//assets-production.bndzgl.com/assets/fonts/2508664073/44500/ManufacturingConsent-Regular/stylesheet.css#ManufacturingConsent-Regular-regular";
    --menu-item-typeface-style-stack: 'ManufacturingConsent-Regular';
    --menu-item-typeface-style-font-weight: 400;
    --menu-item-typeface-style-font-style: normal;
    --menu-item-typeface-size-number: 31px;
    --menu-item-typeface-size-number-unitless: 31;
    --menu-item-uppercase-boolean: false;
    --feature-title-letterspacing-number: 0.05em;
    --feature-title-letterspacing-number-unitless: 0.05;
    --page-title-letterspacing-number: 0em;
    --page-title-letterspacing-number-unitless: 0;
    --image-filter-enum: custom;
    --image-filter-custom-rgba: hsl(339, 100%, 16%);
    --image-filter-custom-color: hsl(339, 100%, 16%);
    --image-filter-custom-rgba-hsl: 339, 100%, 16%;
    --image-filter-custom-rgba-h: 339;
    --image-filter-custom-rgba-s: 100;
    --image-filter-custom-rgba-l: 16;
    --image-filter-custom-rgba-a: 1.0;
    --image-filter-custom-mode-enum: overlay;
    --content-lineheight-number: 1.7;
    --content-lineheight-number-unitless: 1.7;
    --cta-header-heading-typeface-style: "regular";
    --cta-header-heading-typeface-style-stylesheet: "//assets-production.bndzgl.com/assets/fonts/3908719544/44501/EagleLake-Regular/stylesheet.css#EagleLake-Regular-regular";
    --cta-header-heading-typeface-style-stack: 'EagleLake-Regular';
    --cta-header-heading-typeface-style-font-weight: 400;
    --cta-header-heading-typeface-style-font-style: normal;
    --cta-header-heading-letterspacing-number: 0em;
    --cta-header-heading-letterspacing-number-unitless: 0;
    --cta-header-heading-uppercase-boolean: false;
    --cta-header-subheading-typeface-style: "regular";
    --cta-header-subheading-typeface-style-stylesheet: "//assets-production.bndzgl.com/assets/fonts/3908719544/44501/EagleLake-Regular/stylesheet.css#EagleLake-Regular-regular";
    --cta-header-subheading-typeface-style-stack: 'EagleLake-Regular';
    --cta-header-subheading-typeface-style-font-weight: 400;
    --cta-header-subheading-typeface-style-font-style: normal;
    --cta-header-subheading-letterspacing-number: 0.1em;
    --cta-header-subheading-letterspacing-number-unitless: 0.1;
    --cta-header-subheading-uppercase-boolean: true;
    --secondary-heading-color: hsl(180, 97%, 36%);
    --secondary-heading-color-hsl: 180, 97%, 36%;
    --secondary-heading-color-h: 180;
    --secondary-heading-color-s: 97;
    --secondary-heading-color-l: 36;
    --secondary-heading-color-a: 1.0;
    --feature-title-lineheight-number: 1.6;
    --feature-title-lineheight-number-unitless: 1.6;
    --heading-lineheight-number: 1;
    --heading-lineheight-number-unitless: 1;
    --secondary-heading-typeface-style: "regular";
    --secondary-heading-typeface-style-stylesheet: "//assets-production.bndzgl.com/assets/fonts/3908719544/44501/EagleLake-Regular/stylesheet.css#EagleLake-Regular-regular";
    --secondary-heading-typeface-style-stack: 'EagleLake-Regular';
    --secondary-heading-typeface-style-font-weight: 400;
    --secondary-heading-typeface-style-font-style: normal;
    --secondary-heading-typeface-size-number: 15px;
    --secondary-heading-typeface-size-number-unitless: 15;
    --secondary-heading-uppercase-boolean: false;
    --secondary-heading-lineheight-number: 1.7;
    --secondary-heading-lineheight-number-unitless: 1.7;
    --use-custom-mobile-header-height-boolean: true;
    --mobile-header-height-number: 73%;
    --mobile-header-height-number-unitless: 73;
    --content-link-style-enum: underline;
    --cta-header-description-rgba: hsl(47, 100%, 49%);
    --cta-header-description-color: hsl(47, 100%, 49%);
    --cta-header-description-rgba-hsl: 47, 100%, 49%;
    --cta-header-description-rgba-h: 47;
    --cta-header-description-rgba-s: 100;
    --cta-header-description-rgba-l: 49;
    --cta-header-description-rgba-a: 1.0;
    --cta-header-button-shape-enum: pill;
    --cta-header-button-style-enum: solid;
    --cta-header-heading-typeface-size-number: 23px;
    --cta-header-heading-typeface-size-number-unitless: 23;
    --cta-header-heading-lineheight-number: 0.8;
    --cta-header-heading-lineheight-number-unitless: 0.8;
    --cta-header-subheading-typeface-size-number: 38px;
    --cta-header-subheading-typeface-size-number-unitless: 38;
    --cta-header-subheading-lineheight-number: 1.1;
    --cta-header-subheading-lineheight-number-unitless: 1.1;
    --cta-header-description-typeface-style: "regular";
    --cta-header-description-typeface-style-stylesheet: "//assets-production.bndzgl.com/assets/fonts/3908719544/44501/EagleLake-Regular/stylesheet.css#EagleLake-Regular-regular";
    --cta-header-description-typeface-style-stack: 'EagleLake-Regular';
    --cta-header-description-typeface-style-font-weight: 400;
    --cta-header-description-typeface-style-font-style: normal;
    --cta-header-description-letterspacing-number: 0em;
    --cta-header-description-letterspacing-number-unitless: 0;
    --cta-header-description-uppercase-boolean: false;
    --cta-header-description-typeface-size-number: 20px;
    --cta-header-description-typeface-size-number-unitless: 20;
    --cta-header-description-lineheight-number: 1.1;
    --cta-header-description-lineheight-number-unitless: 1.1;
    --use-device-dependent-logo-sizes-boolean: false;
    --tablet-logo-size-number: 50%;
    --tablet-logo-size-number-unitless: 50;
    --mobile-logo-size-number: 50%;
    --mobile-logo-size-number-unitless: 50;
    --use-device-dependent-title-sizes-boolean: true;
    --tablet-page-title-typeface-size-number: 131px;
    --tablet-page-title-typeface-size-number-unitless: 131;
    --mobile-page-title-typeface-size-number: 43px;
    --mobile-page-title-typeface-size-number-unitless: 43;
    --page-title-letterspacing-mobile-boolean: true;
    --section-background-color: hsl(0, 0%, 0%);
    --_section-background-color: hsl(0, 0%, 0%);
    --section-background-color-hsl: 0, 0%, 0%;
    --_section-background-color-hsl: 0, 0%, 0%;
    --section-background-color-h: 0;
    --_section-background-color-h: 0;
    --section-background-color-s: 0;
    --_section-background-color-s: 0;
    --section-background-color-l: 0;
    --_section-background-color-l: 0;
    --section-background-color-a: 1.0;
    --_section-background-color-a: 1.0;
}
